# Dependabot will run on day 21 of each month at 03:37 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "37 3 21 * *"
    open-pull-requests-limit: 15
    assignees:
      - "MyHomeMyData"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "37 3 21 * *"
    open-pull-requests-limit: 15
    assignees:
      - "MyHomeMyData"
